.first-box {
    border: 1px solid; 
    vertical-align: top;
}

.second-box {
    border: 1px solid;
}

.series-title {
    color:rgb(244, 234, 222);
    font-style: italic;
}

.banner {
    background-color: rgb(68, 137, 206);
}

td { 
    padding: 0 30px;
}

