.first-box {
    border:solid; border-width: 1px;
    vertical-align: "top";

}

.second-box {
    border:solid; border-width: 1px;
}

.Series-title {
    color:rgb(244, 234, 222);
    font-style: italic;

}
.banner {
    background-color: rgb(68, 137, 206);
}


td { padding-right: 30px;
    padding-left: 30px;
}

