.first-box {
    border:solid; border-width: 1px;
    vertical-align: "top";

}

.second-box {
    border:solid; border-width: 1px;
}

.Series-title {
    color:rgb(55, 55, 135);
    font-style: italic;

}

td { padding-right: 30px;
    padding-left: 30px;
}

